.header {
  display: flex;
  height: 1.5rem;
  background-color: #f5f7f6;
  line-height: 1.5rem;
  border-bottom: 1px solid #e3e3e3;
  font-size: 0.5rem;
}

.header-back {
  flex: 0.1;
}

.header-title {
  flex: 0.75;
}

.header-operate {
  flex: 0.15;
  font-size: 0.4rem;
}

.tc {
  text-align: center;
}
