.toast-board {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: transparent;
}

.v-toast {
  position: fixed;
  display: flex;
  top: 51%;
  left: 50%;
  transform: translate(-51%, -50%);
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 3px;
  font-size: 0.4rem;
}
